# Logs
app/logs
app/*.log
app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log*
app/pnpm-debug.log*
app/lerna-debug.log*

# Dependencias y Build
app/node_modules
app/dist
app/dist-ssr
app/*.local

# Editor directories and files (Estos suelen ser generales del root)
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*/.vscode/*
*/.vscode/
#skills
.skills/*
.ai/*
.ai
.skills


diseño_pagina_figma
diseño_pagina_figma/*

/*.ps1

proyecto-descripcion
proyecto-descripcion/*

/app/src/.env
/app/src/app/api/gen/*
/app/src/app/api/gen